---
interface Props {
  title: string;
  open?: boolean;
}

const { title, open = false } = Astro.props;
---

<details class="details-block" open={open}>
  <summary class="details-block-title">{title}</summary>
  <div class="details-block-content">
    <slot />
  </div>
</details>
